*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2B2B2B;
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
}

/* Estilos para la barra superior */
#barraSup{
    background-color: #202020;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex; /* Utilizamos flexbox para controlar la disposición */
    justify-content: flex-start; /* Alinea los elementos al principio del div */
    align-items: center; /* Alinea verticalmente los elementos al centro (opcional) */
}

#barraSup span{
    margin-left: auto;
    padding-right: 15px;
}

#imgSPS{
    width: 100px;
    padding-left: 15px;
}

#imgPerfil{
    width: 30px;
    border-radius: 50%;
}

#ciruja{
    width: 15px;
}

/* Contenido */
#contenido{
    /* display: flex; */
    margin-top: 60px;
    color: #fff;
}