*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2B2B2B;
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
}

/* Estilos para el menú lateral */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7px;
    /* padding-left: 7px; */
    z-index: 1;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu img{
    width: 22px; /* Establece el ancho deseado para el ícono */
    height: 22px; /* Establece la altura deseada para el ícono */
    margin-right: 10px; /* Agrega un espacio a la derecha del ícono */
}

#opciones1{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#opciones2{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

#opciones1 div {
    background:
      linear-gradient(#000 0 0) 
      left /var(--d, 0%) 100% no-repeat;
    transition: 0.2s;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 7px;
  }
#opciones1 div:hover {
    --d: 100%;
    color: #fff;
    cursor: pointer;
  }

#opciones2 div{
    background:
      linear-gradient(#000 0 0) 
      left /var(--d, 0%) 100% no-repeat;
    transition: 0.2s;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 7px;
}

#opciones2 div:hover {
    --d: 100%;
    color: #fff;
    cursor: pointer;
  }

/* Estilos para la barra superior */
#barraSup{
    background-color: #202020;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex; /* Utilizamos flexbox para controlar la disposición */
    justify-content: flex-start; /* Alinea los elementos al principio del div */
    align-items: center; /* Alinea verticalmente los elementos al centro (opcional) */
    z-index: 1;
}

#barraSup span{
    margin-left: auto;
    padding-right: 15px;
}

#imgSPS{
    width: 100px;
    padding-left: 15px;
}

#imgPerfil{
    width: 30px;
    border-radius: 50%;
}

#ciruja{
    width: 15px;
}

#contenido{
    display: flex;
    margin-top: 60px;
    margin-left: 150px;
}


/* Resúmenes */

#resumenes{
    width: 100%;
    color: white;
    display: flex;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
}

#resumenes-titulos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 19px;
}

#div-resumenes{
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 15px;
}

.nombre-alumno{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

hr{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 150px;
}

#div-resumenes .div-alumno{
    display: flex;
    gap: 40px;
}

.div-alumno div img{
    width: 50px;
    height: 50px;
}

#div-resumenes .div-alumno .parcial{
    justify-content: center;
    align-items: center; 
    margin-bottom: 45px;
}

#div-resumenes .div-alumno .parcial:hover{
    cursor: pointer;
}


#div-resumenes .div-alumno .parcial .rect-img{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

#div-resumenes .div-alumno .parcial .nombre-materia{
    width: 110px;
}

#div-resumenes .div-alumno .parcial .div-rectangulo{
    background-color: #202020;
    padding: 5px;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-resumenes .div-alumno .flecha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width: 100px;
    height: 60px;
    margin-top: 25px;
    padding: 5px;
}

#div-resumenes .nombre-materia{
    display: flex;
}

#div-resumenes .nombre-materia div{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    width: 100px;
    height: 60px;
    margin-top: 3px;
    margin-bottom: 35px;
    padding: 5px;
}

#div-resumenes span{
    font-size: 18px;
}

/* Carpetas específicas */

#carouselExample{
    z-index: 0;
    margin-left: 80px;
}

.carousel-control-prev, .carousel-control-next {
    margin-right: -80px;
    margin-left: -80px;
}

/* Índice */
#lista-titulos-resumenes{
    background-color: #202020;
    height: 300px;
    width: 500px;
    margin-top: 10px;
    overflow-y: scroll;
}

#lista-titulos-resumenes div{
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#lista-titulos-resumenes div:hover{
    cursor: pointer;
}

.fecha-hoja-resumen{
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Roboto Medium', sans-serif;
}

.titulo-hoja-resumen{
    font-size: 20px;
    margin-left: 30px;
}

.contenido_parciales{
    gap: 90px;
    display: flex;
    justify-content: space-around;
}

/* Volver */
.volver_parciales{
    background-color: #202020;
    color: white;
    margin-top: 40px;
    margin-left: 400px;
    width: 100px;
}

/* Zoom a páginas de carpetas */
figure.zoom {
    background-position: 50% 50%;
    background-size: 170%; /* Ajusta la escala del zoom según tus preferencias */
    position: relative;
    width: 450px;
    overflow: hidden;
    cursor: zoom-in;
  }
  figure.zoom img:hover {
    opacity: 0;
  }
  figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  