*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2B2B2B;
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
}

/* Estilos para el menú lateral */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7px;
    /* padding-left: 7px; */
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu img{
    width: 22px; /* Establece el ancho deseado para el ícono */
    height: 22px; /* Establece la altura deseada para el ícono */
    margin-right: 10px; /* Agrega un espacio a la derecha del ícono */
}

#opciones1{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#opciones2{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

#opciones1 div {
    background:
      linear-gradient(#000 0 0) 
      left /var(--d, 0%) 100% no-repeat;
    transition: 0.2s;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 7px;
  }
#opciones1 div:hover {
    --d: 100%;
    color: #fff;
    cursor: pointer;
  }

#opciones2 div{
    background:
      linear-gradient(#000 0 0) 
      left /var(--d, 0%) 100% no-repeat;
    transition: 0.2s;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 7px;
}

#opciones2 div:hover {
    --d: 100%;
    color: #fff;
    cursor: pointer;
  }

/* Estilos para la barra superior */
#barraSup{
    background-color: #202020;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex; /* Utilizamos flexbox para controlar la disposición */
    justify-content: flex-start; /* Alinea los elementos al principio del div */
    align-items: center; /* Alinea verticalmente los elementos al centro (opcional) */
}

#barraSup span{
    margin-left: auto;
    padding-right: 15px;
}

#imgSPS{
    width: 100px;
    padding-left: 15px;
}

#imgPerfil{
    width: 30px;
    border-radius: 50%;
}

#ciruja{
    width: 15px;
}

/* Contenido */
#contenido{
    display: flex;
    margin-top: 60px;
    margin-left: 150px;
}

/* Asistencia */

#asistencia{
    width: 100%;
    color: white;
    display: flex;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
}

#notas-titulos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 19px;
}

#div-asistencia{
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 15px;
}

#div-asistencia .nombre-alumno{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#div-asistencia hr{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 150px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #2B2B2B;
    padding: 8px;
    text-align: center;
  }
  
  thead {
    background-color: #202020;
    color: #ffffff; /* Texto blanco en la cabecera */
  }
  
  tr:nth-child(2n) {
    background-color: #2B2B2B; /* Fondo gris oscuro en filas pares */
    color: #ffffff; /* Texto blanco en filas pares */
  }
  
  th {
    background-color: #202020; /* Cabecera azul */
    color: #ffffff; /* Texto blanco en la cabecera */
  }